div.body-listar-vantagem {
	max-width: 80rem;
	margin: 0 auto;
}

p.description-listar-vantagem {
	color: #a1a1a1;
	font-size: 1rem;
	margin-bottom: 2.5rem;
}

div.section-1 > div {
	width: 30rem;
}

img.bag-img {
	width: 25rem;
}

div.filter-cards {
	width: 20rem;
}

div.filter-cards > span {
	margin-top: 1rem;
	color: #a1a1a1;
	font-weight: 400;
}
