div.cardDetalhes {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    max-width: 30rem;
    position: sticky;
    top: 2rem
}

h1.detalhesTitle {
    font-size: 1.7rem;
}
h1.detalhesTitle span {
    color: #0075FF
}

div.typeTransaction {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

div.typeIcon {
    width: 5rem;
    height: 5rem;
    background: linear-gradient(225deg, rgba(0,117,255,1) 0%, rgba(30,218,0,1) 80%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.infoType {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

p.type {
    color: #A1A1A1;
    font-weight: 400;
}

p.value {
    color: #0075FF;
    font-size: 1.4rem;
    font-weight: 600;
}

div.detalhesInfo {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    color: #A1A1A1;
}

div.detalhesInfo div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

p.label {
    font-weight: 600;
}

p.data {
    color: #FFF !important;
}