div.perfil-body {
  display: flex;
  flex-direction: column;
  row-gap: 10rem;
}

section.description-section {
  display: flex;
  width: 80%;
  column-gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
}

div.ponts {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

h1.ponts {
  font-size: 12rem;
}

div.ponts span {
  color: #0075ff;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  left: 3px;
}

div.description {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  max-width: 70%;
}

h3.title-description {
  max-width: 25rem;
  font-size: 25px;
  font-weight: 600;
}

h3.title-description span {
  color: #0075ff;
}

p.description {
  font-size: 15px;
}

div.hud-btn {
  display: flex;
  column-gap: 2rem;
}

section.form-section-Empresa {
  width: 60%;
}

section.form-section-Aluno,
section.form-section-Professor {
  width: 80%;
}

div.inputs-form {
  display: flex;
  column-gap: 10rem;
  justify-content: space-between;
  align-items: flex-start;
}

div.inputs-form div {
  width: 100%;
}

div.inputs-form > div {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

div.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h5.subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  color: #9c9da2;
}

h1.title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
}

h1.title span {
  color: #0075ff;
}
