div.cadastrar-body {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  width: 60%;
}

div.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

h5.subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  color: #9c9da2;
}

h1.title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 600;
}

h1.title span {
  color: #0075ff;
}

p.login {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  color: #9c9da2;
}

p.login a {
  font-weight: 300;
  color: #0075ff;
}

div.cpf-rg,
div.instituicao-curso {
  display: flex;
  width: 100%;
  column-gap: 1.5rem;
}

div.switch-user-type {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding: 0 0 2rem;
}
