.parent {
    display: flex;
}

.leftScreen {
    padding-left: 70px;
    flex: 0.9;
}

.rightScreen {
    display: flex;
    justify-content: end;
    margin-right: 40px;
    flex: 1.1;
}

.title {
    display: inline;
}

.subtitle {
    color: #A1A1A1;
    text-align: justify;
    margin-bottom: 50px;
}

.ponto {
    display: inline-block;
    color: #0075FF;
    font-size: 80px;
}

.coin {
    display: flex;
    width: 400px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.pCoinMessage {
    margin-bottom: 20px;
    background-color: rgb(161, 64, 64);
    padding: 10px;
    border-radius: 10px;
}

.iconError {
    font-size: 20px;
    position: relative;
    top: 4px;
}

.inputParent {
    display: flex;
}

.input {
    flex: 1;
    margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.inputMensagem {
    color: #A1A1A1;
}

.inputInformations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 10px;
}

.divButton {
    margin-top: 30px;
}