div.saldoCard {
    padding: 2rem 3rem;
    background: linear-gradient(0deg, rgba(72,85,136,0.05) 0%, rgba(59,61,70,0.4) 100%);
    border-radius: 1rem;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);

    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    width: 100%;
    max-width: 30rem;
}

h3.nomeUser {
    font-size: 1.5rem;
}

div.saldoUser {
    display: flex;
    flex-direction: column;
    position: relative;
}

div.saldoUser > span:first-child {
    position: absolute;
    color: #A1A1A1;
}

div.saldoUser > div > span {
    font-size: 6rem;
    font-weight: 600;
}